@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.big404 {

    font-size: 15vw;
    color: orange;




}

.pageContent{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.whole {
  background-color: #ffe6f2;
}

.summonerInfo{
  background-color: #ffb366;


}